# VSCode settings
.vscode/*

# Node
node_modules/
package-lock.json

# Notes from their paid content
/ignore

# Assessment prep I wasn't sure we were allowed to share
js101/assessmentPrep/00_written/studyBuddies/answers